Debug/*
Release/*
*.aps
*.filters
*_A.user
.vs/*
x64/*
*.o
Monopoly/*.o
Monopoly/monopolyVsAI
build/*
Monopoly/tests/_deps/*
Monopoly/tests/CMakeFiles/*
Monopoly/tests/build/*
Monopoly/tests/catch2/*
Monopoly/tests/tests
Monopoly/tests/Makefile
Monopoly/tests/CMakeCache.txt
Monopoly/tests/cmake_install.cmake
.vscode/
